
/* Estilos para las comidas*/

.Card-img {
    min-height: 200px;
    max-height: 200px;
}

.card {
    border: 4px solid white;
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;   
}


.card-transparent {
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    color: white;
}

.card-price {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    color: white;
    border: 3px solid #191919;
    background-color: #191919;
    border-radius: 4px;
}

.card-description {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: white;
}

.slick-slider {
    max-width: 90%; /* Reduce el ancho para asegurar espacio para las flechas */
    margin: 0 auto; /* Centra el slider horizontalmente */
  }